<script src="../../calculator/core.js?v=__CALC_JS_V__"></script>
<script>
__CALC_INIT__
</script>
<script src="../../calculator/delivery/zones-config.js?v=__DLV_JS_V__"></script>
<script src="../../calculator/delivery/kosmos-dots.js?v=__DLV_JS_V__"></script>
<script src="../../calculator/delivery/delivery.js?v=__DLV_JS_V__"></script>
<script>Kosmos.mountDelivery(document.getElementById('dlv-root'));</script>
<script src="../fillings/data.js"></script>
<script>window.KOSMOS_CLASS_V='__CLASS_V__';</script>
<script src="../kosmo-drum.js?v=__SITE_JS_V__"></script>
<script src="../cake-page.js?v=__SITE_JS_V__"></script>
</body>
</html>
